.question_area .question_details a {
  color: orange;
}
.question_area .question_details a:hover{
  color: rgba(255, 100, 0, 0.70);
  text-decoration: none;
}
.question .user_profile_pic {
  border-radius: 100px;
}

.question_area .question_details{
  text-align:  right;
}
.question_area h3{
  margin-left: 0.25em;
}
.question_area .question_body{
  text-align: justify;
  padding: 0.5em;
  background-color: #f2f2f2;
}
.question_area hr{
  margin-top:0;
  margin-bottom: 0.5rem;
}

.question_tags{
  text-align: right;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.question_votes{
  text-align: right;
  margin-bottom:0.5em;
}
.question_votes button{
  font-size: 1em;
}
