
#tabs li.active > a{
	color: white;
	background-color: orange;
}

#tabs li > a{
	color: orange;
	text-decoration: none;
	background-color: white;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-radius: 10px 10px 0px 0px;
}

#tabs > div, #tabs .question .postBody{
	background-color: white;
	text-align: justify;
}	

#tabs .panel-heading{
	color: white;
	background-color: orange;
}

#tabs .panel-heading a{
	text-decoration: none;
}

#tabs .question .questionTitle{
	margin-top: 0px;
}

#tabs .question .questionTitle a{
	text-decoration: none;
	text-align: left;
	font-weight: bold;
	color: black;
}

#tabs .question .questionTitle a:hover{
	text-decoration: underline;
}

#tabs .question .questionInfo{
	text-align: left;
	color: gray;
	font-size: 50%;
}

#tabs .tab-content .question .questionInfo{
	text-align: right;
	color: gray;
	font-size: 50%;
}

#tabs .question .writerInfo{
	text-align: left;
	color: gray;
	font-size: 50%;
}

#tabs .question .writer{
	color: orange;
}

#tabs .tab-content .bestanswer button{
  font-size: 1.2em;
  background-color: orange;
  border-color: white;
  color: white;
  margin-bottom:0.25em;
}

#tabs .panel-collapse .bestanswer button{
  background-color: orange;
  border-color: white;
  color: white;
  margin-bottom:0.25em;
}

#tabs  .bestanswer button:hover{
  background-color: #cc8400;
  color: white;
  border-color: #cc8400;
}
#tabs  .bestanswer button:active{
  background-color: gray;
  color: white;
  border-color: transparent;
}

#tabs  .question .questionInfo .topic{
	color: orange;
	font-style: italic;
}

@media screen and (max-width: 500px){
	#tabs .questionInfo button{
		display:block;
		width: 100px;
	}
}

@media screen and (min-width: 500px){
	#tabs > div, #tabs .question .postBody{
	
	padding: 30px;
	margin-bottom: 30px;
	}	
}

@media screen and (min-width: 991px){
	#tabs {
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 15%;
		padding-right: 15%;
	}
	#tabs > div, #tabs .question .postBody{
	
	padding: 30px;
	margin-bottom: 30px;
	
	background-color: white;
	
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-radius: 0px 0px 10px 10px;
	text-align: justify;
	
	}
}

#collapse-tabs-0 {
	padding-top: 0px !important;
	margin-top: 0px;
}